<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
    {%- for stylesheet in stylesheets %}
    <link rel="stylesheet" href="styles/{{ stylesheet }}">
    {%- endfor %}
    {%- for rawHeadData in rawHeadDatas %}
    {{ rawHeadData }}
    {%- endfor %}
</head>
<body>
    <header>
        {{ header }}
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        {{ footer }}
    </footer>
</body>
</html>